body{
    margin: 0;
    
}

.inicio{
    background-image: url(../img/template2.0.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    width: 80%; 
    margin: auto;
}

.titulo{
    height: 71px;
    background-color: transparent;
    display: block;
    position: fixed;
    width: 80%;
}

.titulo b{
    margin: 0;
    margin-top: 23px;
    color: white;
    float: left;
    font-size: 4vh;
    cursor: pointer;
}

.titulo a{
    text-decoration: none;
    
}

#program{
    color: rgba(255, 255, 255, 0.644);
}

#K{
    color: rgba(255, 0, 0, 0.748);
}

#I{
    color: rgba(255, 255, 0, 0.61);
}

#D{
    color: rgba(0, 0, 255, 0.548);
}

#traco{
    color: rgba(216, 112, 147, 0.76);
}

#S{
    color: rgba(0, 128, 0, 0.733);
}


.meio{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
}

.botoes {
    list-style: none;
    float: right;
}


.botoes li a{
    text-decoration: none;
    color: white;
}

.botoes li {
    border: 0px;
    float: left;
    width: 100px;
    text-align: center;
    margin-left: 25px;
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border: solid rgba(105, 105, 105, 0.7) 1px;
    border-radius: 8px;
    display: inline-block;
}


.botoes li:hover{
    background-color: dimgray;
    transition: 0.4;
}

.meio button{
    margin-top: 454px;
    margin-left: 38px;
    border: 0px;
    margin-right: 1109px;
    width: auto;
    text-align: center;
    background-color: rgba(105, 105, 105, 0.7);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
}

.meio button:hover{
    background-color: transparent;
    transition: 0.4;
}

.meio button a{
    text-decoration: none;
    color: white;
}

img{
    width: 5%;
    cursor: pointer;
}

#sobre{
    height: 100vh;
    background-color: rgb(184, 182, 175);
}

#sobre img{
    margin-top: 105px;
    margin-left: 50%;
    height: 24%;
    width: 59%;
    border-radius: 8px;
}

#cursos{
    height: 150vh;
    background-color: rgb(184, 182, 175);
}

.titulo-curso{
    margin: 0;
    /* margin-top: 10%; */
    text-align: center;
    text-transform: uppercase;
        font-size: 30px;
}

.barrinha-curso{
    height: 6px;
    width: 600px;
    border-radius: 100px;
    margin-top: 3%;
    margin-left: 292px;
    background-color: #4e0c0c;
}

.titulo-sobre{
    margin: 0;
    text-transform: uppercase;
}

#c{
    color: rgba(56, 53, 53, 0.644);
 
}

#u{
    color: rgba(255, 0, 0, 0.748);

}

#r-{
    color: rgba(255, 255, 0, 0.61);

}

#s-{
    color: rgba(0, 0, 255, 0.548);

}

.texto-sobre{
    margin: 0;
    margin-top: -40%;
    margin-left: 12%;
    text-transform: uppercase;
    font-size: 200%;
    /* color: rgba(255, 255, 255, 0.659); */
    color: black;
}

.barrinha   {
    height: 6px;
    width: 398px;
    border-radius: 100px;
    margin-top: 3%;
    margin-left: 30px;
    background-color: #4e0c0c;
}

#r{
    color: rgba(255, 0, 0, 0.801);
}

#e{
    color: rgba(255, 255, 0, 0.616);
}

#n{
    color: rgba(0, 0, 255, 0.685);
}

#o{
    color: rgba(216, 112, 147, 0.63);
}

#s{
    color: rgba(0, 128, 0, 0.61);
}

.text-{
    margin: 0;
    margin-top: 52px;
    color: rgb(114, 56, 2);
    font-size: 28px;
}

.caixas{
    margin-top: 45px;
    float: left;
    margin-left: 100px;
    height: 22em;
    width: 18em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #f5f5f5, -15px -15px 27px #fcfcfc;
    box-shadow: 3px 3px 3px rgba(51, 49, 45, 0.925), 3px 3px 3px rgba(51, 49, 45, 0.925);
}

#caixa-1{
    background-color: #FAFAFC;
}

.caixa-img1{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('../img/html\ ee\ css.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}



.caixa-desc1{
    background-color: #FAFAFC;
    height:14em;
    width:16em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
    color: rgb(114, 56, 2);
}

.caixa-desc1 h2{
    background: linear-gradient(to right, #ff5f02 0%, #50cada, #e7ff0d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-transform: uppercase;
}

.caixa-efeito1{
    width:1em;
    height:1em;
    background-color:black;
    position:absolute;
    bottom:1em;
    left:1em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.caixas:hover .caixa-desc1
{
  height:0em;
  padding:0px 1em;
}
.caixas:hover .caixa-img1
{
  height:18em;
}

/* caixinha quando abre a foto */
.caixas:hover .caixa-efeito1
{
  background-color:rgb(7, 114, 255);
}

/* caixinha  pequena*/
.caixas:hover .caixa-efeito1:hover
{
  background-color:rgb(255, 102, 0);
  cursor:pointer;
}


#caixa-2{
    background-color: #FAFAFC;;
}

.caixa-img2{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('../img/javinha2.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

.caixa-desc2{
    background-color: #FAFAFC;
    height:14em;
    width:16em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
    color: rgb(114, 56, 2);
}

.caixa-desc2 h2{
    background: linear-gradient(to right, #ff5f02 0%, #9b5353 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-transform: uppercase;
}

.caixa-efeito2{
    width:1em;
    height:1em;
    background-color:black;
    position:absolute;
    bottom:1em;
    left:1em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.caixas:hover .caixa-desc2
{
  height:0em;
  padding:0px 1em;
}
.caixas:hover .caixa-img2
{
  height:18em;
}

/* caixinha quando abre a foto */
.caixas:hover .caixa-efeito2
{
  background-color:rgb(248, 18, 1);
}

/* caixinha  pequena*/
.caixas:hover .caixa-efeito2:hover
{
  background-color:rgb(255, 145, 0);
  cursor:pointer;
}

#caixa-3{
    background-color: #FAFAFC;;
}

.caixa-img3{
    height:10em;
    width:16em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('../img/TI--.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
#titulo-caixa3{
    font-size: 22px;
}

.caixa-desc3{
    background-color: #FAFAFC;
    height:14em;
    width:16em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
    color: rgb(114, 56, 2);
}

.caixa-desc3 h2{
    background: linear-gradient(to right, #e631e2 0%, #3603ad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.caixa-efeito3{
    width:1em;
    height:1em;
    background-color:black;
    position:absolute;
    bottom:1em;
    left:1em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.caixas:hover .caixa-desc3
{
  height:0em;
  padding:0px 1em;
}
.caixas:hover .caixa-img3
{
  height:18em;
}

/* caixinha quando abre a foto */
.caixas:hover .caixa-efeito3
{
  background-color:rgb(49, 32, 202);
}

/* caixinha  pequena*/
.caixas:hover .caixa-efeito3:hover
{
  background-color:rgb(110, 3, 160);
  cursor:pointer;
}

.texto-cursos{
    background-color: rgb(184, 182, 175);
    margin-top: 500px;
    /* text-align: justify; */
    color: rgb(114, 56, 2);
    font-size: 28px;
}

.manolo{
    text-align: center;
    margin-left: 130px;

}

#gif-misterio{
    width: 10%;
    /* margin-left: 39%; */
    margin-top: 3%;
    cursor: pointer;
}