body{
    margin: 0;
    
}

.inicio{
    background-image: url(../img/template2.0.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    width: 80%; 
    margin: auto;
}

.titulo{
    height: 71px;
    background-color: transparent;
    display: block;
    position: fixed;
    width: 80%;
}

.titulo b{
    margin: 0;
    margin-top: 23px;
    color: white;
    float: left;
    font-size: 4vh;
}

#program{
    color: rgba(255, 255, 255, 0.644);
}

#K{
    color: rgba(255, 0, 0, 0.748);
}

#I{
    color: rgba(255, 255, 0, 0.61);
}

#D{
    color: rgba(0, 0, 255, 0.548);
}

#traco{
    color: rgba(216, 112, 147, 0.76);
}

#S{
    color: rgba(0, 128, 0, 0.733);
}


.meio{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
}

.botoes {
    list-style: none;
    float: right;
}


.botoes li a{
    text-decoration: none;
    color: white;
}

.botoes li {
    border: 0px;
    float: left;
    width: 100px;
    text-align: center;
    margin-left: 25px;
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border: solid rgba(105, 105, 105, 0.7) 1px;
    border-radius: 8px;
    display: inline-block;
}


.botoes li:hover{
    background-color: dimgray;
    transition: 0.4;
}

.meio button{
    margin-top: 415px;
    margin-left: 40px;
    border: 0px;
    margin-right: 907px;
    width: auto;
    text-align: center;
    background-color: rgba(105, 105, 105, 0.7);
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    color: white;
}

.meio button:hover{
    background-color: transparent;
    transition: 0.4;
}

img{
    width: 5%;
    cursor: pointer;
}
